<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

	<link rel="stylesheet" href="{{ site.baseurl }}/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css.css">
</head>
<body>

	{% if site.baseurl == null %}
		{% assign linkhome = "/" %}
		{% else %}
		{% assign linkhome = site.baseurl %}
	{% endif %}

	<header>
  <div class=row>
	  <div class="span7 offset3" id=header><img src=mu-logo.png><a href="{{ linkhome }}">{{ site.name }}</a></span>
  </div>
	</header>

	<div class="container">
